*begin 204
  
  *begin midlevel

    *export 110_bidet_b.2

    *begin 110_bidet_b
      *export 2
      1 2 1.00 0 0
    *end 110_bidet_b

  *end midlevel

  *begin trunk
  
    *export nopainnogain.2

    *begin nopainnogain
      *export 1 2
      1 2 1 90 0
    *end nopainnogain

    *begin insignificant2
      *export 0
      0 1 1 300 0
      1 2 1 180 0
      2 0 1 60 0
    *end insignificant2

    *equate nopainnogain.1 insignificant2.0

  *end trunk

  *equate midlevel.110_bidet_b.2 trunk.nopainnogain.2

*end 204
