*.orig
AUTHORS
Makefile
Makefile.in
TODO
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc/3dtopos.1
doc/Makefile
doc/Makefile.in
doc/NEWS.htm
doc/OLDNEWS.htm
doc/aven.1
doc/cad3d.1
doc/cavern.1
doc/diffpos.1
doc/extend.1
doc/index.htm
doc/manual/
doc/manual.pdf
doc/manual.txt
doc/sorterr.1
doc/survex.7
install-sh
lib/Info.plist
lib/Makefile
lib/Makefile.in
lib/bg.msg
lib/ca.msg
lib/de.msg
lib/de_CH.msg
lib/el.msg
lib/en.msg
lib/en_US.msg
lib/es.msg
lib/fr.msg
lib/hu.msg
lib/id.msg
lib/it.msg
lib/pl.msg
lib/pt.msg
lib/pt_BR.msg
lib/ro.msg
lib/ru.msg
lib/sk.msg
lib/zh_CN.msg
lib/preload_font.h
lib/unifont.pixelfont
lib/icons/Makefile
lib/icons/Makefile.in
lib/icons/*.ico
lib/icons/*.iconset.zip
lib/icons/*.rcdata
lib/icons/aven-icons.rc
missing
src/*.o
src/.deps/
src/Makefile
src/Makefile.in
src/3dtopos
src/aven
src/avenpal.h
src/cad3d
src/cavern
src/diffpos
src/dump3d
src/extend
src/img2aven.h
src/imgtest
src/sorterr
src/z_getopt.c
stamp-h1
survex.iss
survex.spec
survex-*.*.*.tar.gz
survex-*.*.*
tests/Makefile
tests/Makefile.in
vim/Makefile
vim/Makefile.in
