[Desktop Entry]
Version=1.0
Name=Aven Cave Surveying Tool
GenericName=Cave Surveying Tool
Comment=Visualise cave surveys
Type=Application
Exec=aven
Icon=aven
Categories=Education;Geology;Science;
