; tests angle units, also test begin/end saving/restoring units
*fix 1 0 0 0
*units compass grads
1 2 10.00 100 00
*begin
*units compass degrees
2 3 10.00 180 00
*end
3 4 10.00 100 00
*units compass 90 degrees
4 5 10.00 2 00
