; pos=yes warn=0 error=0
*fix 1 0 0 0
1 . 2.00 000 0
1 ... 10 - down
*data normal tape compass clino from to
5.0 - down 1 .;comment
5.0 - down 1 ..;comment
5.0 - down 1 ...;comment
*alias station - ..
5.0 - down 1 -;comment
