*fix 1 0 0 0
*data normal from to tape compass backcompass clino backclino
1 2a 10.00 001 179 01 01
1 2b 10.00 359 181 01 01

*calibrate backcompass 10
*data normal from to tape compass backcompass clino backclino
1 3a 10.00 001 189 01 01
1 3b 10.00 359 191 01 01

*calibrate compass 10
*calibrate backcompass 0
*data normal from to tape compass backcompass clino backclino
1 4a 10.00 011 179 01 01
1 4b 10.00 009 181 01 01
