; pos=yes warn=6
*fix 1 0 0 0
*data normal from to tape compass backcompass clino backclino
1 2a 10.00 001.5 178.5 01 01
1 2b 10.00 358.5 181.5 01 01

*calibrate backcompass 10
*data normal from to tape compass backcompass clino backclino
1 3a 10.00 001.5 188.5 01 01
1 3b 10.00 358.5 191.5 01 01

*calibrate compass 10
*calibrate backcompass 0
*data normal from to tape compass backcompass clino backclino
1 4a 10.00 011.5 178.5 01 01
1 4b 10.00 008.5 181.5 01 01

*data cartesian from to dx dy dz
; Work around variation in which station is picked for the maximum:
1 max 9 12 36
