; pos=no warn=0 dummycrprotection=
; epsilon related value in matrix singularity tests was too small - this
; is a boiled down version of the CUCC Austria data which demonstrated the
; problem
A B 1 0 0
A C 1 0 0
A D 1 0 0
*sd clino 5 degrees
B E  2.63 205 07
C E  2.17 161 47
D E 27.77 284 38
