*fix 1 0 0 0
*begin
*data diving from to tape compass dz
*units dz 0.01 metres
*calibrate dz 100 -1
1 2a 5.00 090 400
*end
*begin
*data cylpolar from to tape compass dz
*units dz 0.01 metres
*calibrate dz 100 -1
1 2b 4.00 090 400
*end
*begin
*data cylpolar from to tape compass fromdepth todepth
*units depth 0.01 metres
1 2c 4.00 090 1000 700
*end
