; pos=yes warn=1
*begin
; This should be enough to hint the output separator
*set separator :
*end
*begin
*set blank ^
*fix^1^reference^0^0^0
*end
*begin
*set comment %"
" a comment
% another comment
*set keyword ;
;end
*begin
*set blank +
*set+decimal+,/
*set+plus
*set+NAMES+()
*fix+(2)+reference+1,0+2/0+3
*end
*begin
*set omit _
*set names
*set separator -
*equate foo-1 1
*begin foo
*export 1
1 2 100 _ down
*end foo
*end
*begin
*set blank _
*set_names_x20
*fix_name with spaces in_reference_0_0_0
*end
*begin
*set blank x09x20
*set decimal ,
*set names .
1 3.1 1,00 200 -01,5
*end
*begin ; Check EOL works and that parsing a-f after x is no longer buggy.
*set eol ^^;this comment should continue until the caret before the next *set

*fix should_be_ignored 0 0 0

^*set eol x0a

*fix unused 0 0 0 ; trigger a warning to check line numbering
*end
