; pos=yes warn=0
; Reduced testcase posted by Patrick Warren to the mailing list
; The convergence was wrong by 90 degrees with PROJ < 9.3.0.  Survex 1.4.6
; works around the problem.  Also if *cs out was after *declination auto
; a grid convergence of 0 degrees was used - Survex 1.4.6 calculates the
; convergence lazily which happens when we read a compass reading, and
; gives an error if the output coordinate system hasn't been set by then.
*cs OSGB:SD
*declination auto 97480 72608 225
*cs out EPSG:3042
*date 2005.12.15
*fix 1 97480 72608 225
*data normal from to tape compass clino
1 2 25.0 000 0 ; due north, magnetic
