; pos=no warn=0
*begin it_all
; This was originally a test of various "dummy" commands which were treated
; like comment lines, but we now actually parse these.  It is still used as a
; simple file to include from doubleinc.svx.
*copyright 2001 "Space Oddity Speleos"
*date 1990.07-2001.09
*instrument compass clino "Shetland Attack Pony"
*team Hannibal
*team "Face Man"
*team B.A.
*team "Murdoch"

*ref "page 42 of 2001 survey book"

*fix no_warnings_please reference 0 0 0

*end it_all
