; pos=yes warn=0
*fix A reference ; generates an info diagnostic
*fix B reference 0 0 0
*fix C reference 0 0 0 1.0
*fix D reference 0 0 0 1.0 2.0
*fix E reference 0 0 0 1.0 2.0 3.0
*fix F reference 0 0 0 1.0 2.0 3.0 3.14 2.18 1.44
