; pos=no warn=0
*begin it_all
*copyright 2001 "Space Oddity Speleos"
*date 1971.02.07
*date 2000.01
*date 2001
*date 1990.07-2001.09
*instrument light "Jamie's magic torch"

*ref "page 42 of 2001 survey book"

*fix no_warnings_please reference 0 0 0

*end it_all
