; pos=no warn=0
*begin survey
*team Wookey notes
*team "Olly Betts" tape instruments
*team "Al Jobs" ALTITUDE ASSISTANT BACKBEARING BACKCLINO BACKCOMPASS BACKGRADIENT BACKLENGTH BACKTAPE BEARING CEILING CLINO COMPASS COUNT COUNTER DEPTH DIMENSIONS DOG DOWN DZ EXPLORER FLOOR GRADIENT INSTRUMENTS INSTS LEFT LENGTH NOTEBOOK NOTES PICS PICTURES POSITION RIGHT STATION TAPE UP
*team Anna
*team "Bob Bobbington"
*fix 1 0 0 0
1 2 1 0 0
*end survey
