; pos=yes
*fix 1 0 0 0
; This '-' is an actual station
1 - 1.00 090 0
*alias station - ..
; This '-' is an anon station
1 - 1.00 270 0
*alias station -
; And back to the actual one
- 2 1.00 180 0
; Regression test - handling of a comment character after the command.
*alias station - ..; comment
; This '-' is an anon station
2 - 1.00 270 0
*alias station -; comment
; And back to the actual one
- 3 1.00 180 0
