; pos=no warn=1
; This is a carefully constructed network which Survex can't reduce.
;
; This tests that the unconnected survey report only shows one station per
; hanging component.  (Bug fixed in 1.4.23)
A  B0  1 0 0
A  B1  1 0 0
A  B2  1 0 0
B0 C0  1 0 0
B0 C1  1 0 0
B1 C1  1 0 0
B1 C2  1 0 0
B2 C2  1 0 0
B2 C0  1 0 0
C0 D   1 0 0
C1 D   1 0 0
C2 D   1 0 0

*fix Z 0 0 0
Z X    1 0 0
