; pos=yes warn=0
*cs EPSG:4167
*cs ESRI:104305
*cs EUR79Z30
*cs IJTSK
*cs IJTSK03
*cs JTSK
*cs JTSK03
; Not yet supported: *cs lat-long
*cs Long-Lat
; Not yet supported: *cs local
*cs OSGB:HA
*cs OSGB:OV
*cs S-MERC
*cs UTM1
*cs UTM12N
*cs UTM60S
*cs custom "+proj=tmerc +lat_0=0 +lon_0=13d20 +k=1 +x_0=0 +y_0=-5200000 +ellps=bessel +towgs84=577.326,90.129,463.919,5.137,1.474,5.297,2.4232"
*cs out custom "+proj=tmerc +lat_0=0 +lon_0=13d20 +k=1 +x_0=0 +y_0=-5200000 +ellps=bessel +towgs84=577.326,90.129,463.919,5.137,1.474,5.297,2.4232"
*cs out EUR79Z30
*cs out IJTSK
*cs out IJTSK03
*cs out OSGB:HA
*cs out OSGB:OV
*cs out S-MERC
*cs out UTM1
*cs out UTM12N
*cs out UTM60S
*fix 1 reference 36000 83000 1600
; regression test - until 1.2.21, *fix with sds ignored the coordinate system
*cs UTM33N
*fix 2 reference 410848.11 5281938.82 1600.00 10 10 30
