; pos=fail warn=0 error=24
*fix 1 reference 0 0 0
*cs EPSG:-1
*cs ERSI:1234
*cs EUR79Z31
*cs IJTSK 03
*cs IJTSK04
*cs IJTSK99
*cs IJTSK3
*cs IJTSK032
*cs IJTSK03a
*cs lat-lat
*cs Long-LONG
*cs OSGB:ZZ
*cs OSGB:HI
*cs S-LONG
*cs UTM0
*cs UTM61N
*cs UTM61S
*cs custom "+proj=ection"
*cs out lat-long
*cs out long-lat
*cs out jtsk
*cs out jtsk03
; Check that an error from PROJ is usefully relayed by cavern.  PROJ >= 6 uses
; a more accurate conversion for default for tmerc which works for the whole
; world, so we specify +approx to force the old conversion to be used.  Older
; PROJ doesn't understand +approx but appears to just ignore unrecognised
; options.
*cs out custom "+proj=tmerc +lat_0=49 +lon_0=-2 +k=0.9996012717 +x_0=0 +y_0=0 +ellps=airy +datum=OSGB36 +units=m +no_defs +approx"
*cs long-lat
*fix 2 reference 179 -89 1000
