; pos=dump warn=0
; Test that PROJJSON works
*cs file csprj6318.json
; Test that *cs file FILENAME tries lower-casing if the name as given
; doesn't exist, that the filename can be quoted, and that a description
; written on a single line (as ESRI .prj files are) works.
*cs out FILE "CSPRJ2.PRJ"

*fix entrance -86.0905 37.1966 200

entrance a 30.0 090 -05
a        b 25.0 135 +02
