; pos=yes warn=0
; Test that *cs file FILENAME assumes a .prj extension if the name as given
; doesn't exist, that the filename can be quoted, and that a description
; written on a single line (as ESRI .prj files are) works.
*cs EPSG:6318
*cs out FILE "csprj2"

*fix entrance -86.0905 37.1966 200

entrance a 30.0 090 -05
a        b 25.0 135 +02
