*fix 1 0 0 0
*data diving from to fromdepth todepth tape compass
1 2 0.0 0.0 1.00 000
2 3 0.0 0.0 1.00 090

*data diving to from fromdepth todepth tape compass
4 3 1.0 1.0 1.00 180
5 4 1.0 1.0 1.00 270

*data diving to from depthchange tape compass
6 5 0.0 1.00 000
7 6 0.0 1.00 090

*data diving from fromcount fromdepth compass to tocount todepth
; 3:4:5 triangle...
7	123	5.0	270	8	128	2.0

*data diving station count depth newline compass
; 5:12:13 triangle...
8	128	2.0
			000
9	141	-3.0
