; pos=yes warn=0
; tests length units, also test begin/end saving/restoring units
*fix 1 0 0 0
*units tape metres
1 2 10.00 0 00
*begin
*units tape feet
2 3 10.00 0 00
*end
3 4 10.00 0 00
*units tape yards
4 5 10.00 0 00
