; pos=dump warn=0
*fix 1 0 0 0
*fix 2 1 0 0
*fix 3 0 1 0 1 1 1
*fix 4 0 0 1 1 1 1
*fix 5 .5 .5 .5
*data nosurvey station
1
2
3

2
4
*data
2
5
*data nosurvey station ignore
1 42; Test handling of a comment right after an ignored reading.
4 x
*data nosurvey station ignoreall
1 Testing ignoreall
3
5 oh yeah!
