; pos=yes warn=0
*fix 1 0 0 0
*fix 2 1 0 0
*fix 3 0 1 0 1 1 1
*fix 4 0 0 1 1 1 1
*data nosurvey from to
1 2
2 3
*data nosurvey to from ignore
4 3 42; Test handling of a comment right after an ignored reading.
