; pos=dxf survexportopt=--surface-legs survexportopt=--full-coordinates warn=0
*equate A.2 B.2
*flags surface
*fix A.1 0 0 0
*begin A
*export 1
*export 2
1 2 9.5 275 -26
*end A
*begin B
*export 2
2 3 3 042 +15
*end B
