; BCRA Grade 3 specification file

; tape error
; 95.44% of readings are within 0.5m (2 S.D.)
*sd length backlength     0.25 metres

; compass error
; 95.44% of readings are within 2.5 degrees (2 S.D.)
*sd bearing backbearing   1.25 degrees

; clino error
; 95.44% of readings are within 2.5 degrees (2 S.D.)
*sd gradient backgradient 1.25 degrees

; station position error
; 95.44% of positions are within 0.5m (2 S.D.)
*sd position 0.25 metres
