[Desktop Entry]
Version=1.0
Name=SvxEdit Cave Survey Data Editor
GenericName=Cave Survey Data Editor
Comment=Enter cave survey data for Survex
Type=Application
Exec=svxedit
Icon=svxedit
Categories=Education;Geology;Science;
Keywords=caving;surveying;data entry
MimeType=application/x-survex-svx;
