Source: survex
Section: math
Priority: optional
Maintainer: Wookey <wookey@survex.com>
Standards-Version: 3.0.1

Package: survex
Architecture: any
Depends: ${shlibs:Depends}
Description: Cave survey software
 A software suite to process, view, and print cave survey data. Survex is
 cross-platform (Unix, MS Windows, DOS, RISCOS), and supports English,
 French, German, Portuguese, Catalan, and Spanish. It can deal with extremely
 large and complex datasets and can read survey data from many sources. 

Package: survex-aven
Architecture: any
Depends: ${shlibs:Depends}
Description: Aven viewer for Survex
 A fancy cave viewer for Survex, written using the GTK-- library.
