[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Aven Cave Surveying Tool
GenericName=Cave Surveying Tool
Comment=Visualise cave surveys and maps
Type=Application
Exec=aven
Icon=aven.png
Categories=Application;Education;Geology;Science;
